@charset "utf-8";
#all-box_head {
	background-image: url(images/info_bg_c1.jpg);
	height: 176px;
	width: 760px;
}
#all-box_footer {
	background-image: url(images/info_bg_c3.jpg);
	height: 84px;
	width: 760px;
}
#all-box_content {
	background-image: url(images/info_bg2.gif);
	height: 420px;
	width: 760px;
}
#all-box_data {
	background-image: url(images/info_bg_c2.jpg);
	height: 420px;
	width: 760px;
}

#btn {
	height: 31px;
	width: 99px;
	padding-left: 345px;
	padding-top: 20px;
}
#btn2 {
	height: 31px;
	width: 114px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 32px;
}


#all-box_content_info {
	height: 285px;
	width: 490px;
	font-family: Arial, Helvetica, sans-serif, "微軟正黑體";
	font-size: 12px;
	line-height: 21px;
	color: #FFF;
	overflow:auto;
	padding-left: 150px;
	margin-top: 55px;
	float: left;
	margin-bottom: 20px;
}
.all-box_content_table1 {
	height: 20px;
	width: 150px;
	font-family: Arial, Helvetica, sans-serif, "微軟正黑體";
	font-size: 12px;
	line-height: 21px;
	color: #FFF;
	padding-top: 80px;
	padding-left: 315px;
}
.all-box_content_table2 {
	height: 20px;
	width: 146px;
	font-family: Arial, Helvetica, sans-serif, "微軟正黑體";
	font-size: 12px;
	line-height: 21px;
	color: #FFF;
	padding-top: 29px;
	padding-left: 315px;
}






/* CSS Document */


#all-box {
	height: 680px;
	width: 760px;
	margin-right: auto;
	margin-left: auto;
}


ol{
	margin-top:-3px;
}
ol li{
	margin-left:-15px;
}